{{template "header"}}
    	<title>Category - Bolog</title>
  	</head>
	<style>
    body  {
      background-image: url("https://images.pexels.com/photos/129733/pexels-photo-129733.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
      background-position: center; 
      background-repeat: repeat;
      background-size: auto;
    }
    </style>
	<body>
		
		{{template "navbar" .}}

		
		<div class="container">
			<h1 style="margin-top: 50px;margin-bottom: 50px;">Category List</h1>
			<form class="form-inline" method="GET" action="/category">
				<div class="form-group">
					<input id="name" type="text" class="form-control" name="name" placeholder="Enter category name">
					<input type="hidden" name="op" value="add">
				</div>
				<button type="submit" class="btn btn-primary" style="margin-left: 1px;" onclick="return checkInput();">Add</button>
			</form>
	      	<script type="text/javascript">
		      	function checkInput() {
		      		var uname = document.getElementById("name");
		      		if (uname.value.length == 0) {
		      			alert("Please enter name!!!");
		      			return false;
		      		}
		      	}
	      	</script>
			<table class="table table-striped table-dark" style="margin-top: 50px;">
				<thead>
					<tr>
						<th>#</th>
						<th>Name</th>
						<th>Article count</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					{{range .Categories}}
					<tr>
						<th>{{.Id}}</th>
						<th>{{.Title}}</th>
						<th>{{.TopicCount}}</th>
						<th>
							<a href="/category?op=del&id={{.Id}}">Delete</a>
						</th>
					</tr>
					{{end}}
				</tbody>
			</table>
		</div>

		<script type="text/javascript" src="http://cdn.staticfile.org/jquery/2.0.3/jquery.min.js"></script>
		<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
	</body>
</html>
